@media screen and (max-width: 400px) {
    .header__top__right {
        display: none;
    }
    .main__choise__left {
        width: 100%;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        padding: 10px;
    }
    .main__choise__left__description__text h2{
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #0A1A2C;
    }
    .main__choise__left__description__und__line{
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        text-decoration-line: underline;
        color: #717171;
    }
    .new__price{
        font-weight: 500;
        font-size: 20px;
        line-height: 22px;
        color: #005BB9;
    }
    .old__price{
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-decoration-line: line-through;
        color: #C2C5DA;
    }
    .main__choise__left__description__btn{
        background: #005BB9;
        border-radius: 6px;
        width: 120px;
        height: 39px;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
    }
    .main__choice__right {
        width: 100%;
        margin-top: 10px;
    }
.contact__us{
    margin-top: 28px;
}
.whatsup__contact{
    margin-top: 10px;
}
.search__block__for__media{
    column-gap: 20px;
    margin: 0 10px;
}
.button__for__media{
    background: #005BB9;
    border-radius: 4px;
    }
.button__for__media img{
    display: flex;
    align-items: center;
}
.input-group button{
    padding: 0 15px;
}
    .oil {
        margin-top: 20px;
    }

    .three__buttons {
        max-width: 50%;
    }

    .pistone__card, .ring__card {
        width: 49%;
        margin-top: 20px;
    }

    .ring__image img {
        margin-top: 6px;
    }

    .confirm__btn {
        padding: 6px;
    }

    .card__confirm__diagram {
        display: none;
    }

    .confirm__shop {
        font-size: 15px;
    }

    .gray__line {
        display: none;
    }

    .news__block {
        margin: 0;
    }

    .third__november__news {
        width: 100%;
    }

}