.header__top {
    left: 0;
    top: 0;
    background: #0F2438;
}

.logo__complete {
    column-gap: 10px;
}

.your__city, .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header__top__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    column-gap: 30px;
}

.nav__item a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.header {
    left: 0;
    top: 36px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mt {
    margin-top: 27px;
}
.cg{
    column-gap: 10px;
}

.header__logo {
    column-gap: 12px;
}

.header__name p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
    padding-top: 10px;
}

.watch{
    margin-top: 41px;
    column-gap: 10px;
}
.time{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}
.header__logo img{
    max-height: 70px;
    max-width: 70px;

}
.prospect{
    margin-top: 45px;
    column-gap: 15px;
}
.prospect img, .watch img {
    max-width: 30px;
    max-height: 30px;
}
.whatsup__contact{
    width: 204px;
    height: 30px;
    left: 1206px;
    top: 82px;
    background: #E1EFD0;
    border-radius: 2px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
.whatsup__contact img{
    max-width: 30px;
    max-height: 30px;
}

.whatsup__contact a{
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}
.contact__us{
    margin-top: 41px;
    text-align: right;
}
.phone__number{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}
.feedback a{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
    text-align: right;
}
.form-control{
    width: 550px;
}
.item{
    width: 40px;
    height: 5px;
    background-color: black;
}
.btn-outline-success {
    background-color: blue;
}
.catalog__btn {
    width: 164px;
    height: 40px;
    left: 283px;
    top: 159px;
    background: #005BB9;
    border-radius: 6px;
}
.catalog__img__btn, .catalog__btn{
    border: none;
    background: #005BB9;
    border-radius: 6px;
    color: white;
}

.shopping__guide{
    column-gap: 40px;
}
.shopping__guide a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
}
.favorite::before,
.favorite::after{
    content: "";
    display: flex;
    width: 2px;
    height: 28px;
    background-color: #E1E5F8;
}
.main__choice{
    margin-top: 30px;
}
.main__choise__left{
    background: url("Image/Carousel_bg.png") no-repeat center/cover;
    border-radius: 30px;
    position: relative;
}
.main__choise__left__arrow_left img{
    position: absolute;
    top: 150px;
    left: -10px;
}
.main__choise__left__arrow_right img{
    position: absolute;
    top: 150px;
    right: -10px;
}
.cg{
    column-gap: 10px;
}
.main__choise__left__description{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.main__choise__left__description__text{
    width: 100%;
}
.main__choise__left__description__text h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}
.main__choise__left__description__und__line{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}
.new__price{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}
.old__price{
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.main__choise__left__description__btn{
    background: #005BB9;
    border-radius: 6px;
    width: 160px;
    height: 49px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}


.main__choise__left__img{
    max-width: 50%;
}
.main__choise__left__img img{
    width: 100%;
}
.main__choise__left__bottom{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}
.main__choice__right{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 100%;
}
.akcia__img img{
    padding: 0 0 10px;
}
.sell__akcia {
    background: #F4F5FA;
    border-radius: 10px;
    flex-grow: 1;
}
.mufta{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}
.mufta__type{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}
.akcia__top h4, .akcia__bottom h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}
.akcia__price{
    column-gap: 10px;
}
.akcia__new__price{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}
.akcia__old__price{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.akcia__img__btn{
    border: none;
    background: #005BB9;
    border-radius: 6px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 60px;
}
.pd{
    padding: 10px;
}
.oil__filt__rad{
    margin-top: 50px;
    position: relative;
}
.oil__arrows {
    position: absolute;
    }

.left__arrow{
    padding-top: 200px;
}
.right__arrow{
    padding-top: 200px;
    padding-left: 2595px;
}
.three__items{
    column-gap: 30px;
}
.oil{
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    flex-grow: 1;
    width: 100%;
    height: 200px;
}
.oil__filt__rad__desc{
    padding-left: 20px;
    padding-top: 30px;
}
.oil__filt__rad__desc h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}
.oil__filt__rad__desc p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}
.oil__pict img{
    display: flex;
    justify-content: flex-end;
    width: 150px;
    height: 200px;
}

.oil__btn{
    max-width: 86px;
    height: 26px;
    left: 313px;
    top: 850px;
    background: #005BB9;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.first__btn__left{
    background: #005BB9;
    border-radius: 6px;
    max-width: 241px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.second__btn__center{
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 123px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}
.third__btn__right{
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 229px;
    height: 55px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #005BB9;
}
.pistone__image, .ring__image{
    width: 100%;
}
.pistone__image img, .ring__image img{
    width: 100%;
}

.pistone__card, .ring__card{
    width: 24%;
    margin-top: 30px;
    padding-left: 10px;
}
.ring__image img{
    margin-top: 13px;
}

.card__score{
    column-gap: 5px;
}
.star__img img{
    display: flex;
    padding-top: 5px;
}
.card__feedback p{
    margin-left: 5px;
    font-weight: normal;
    color: #B0B0B0;
}
.score p{
    font-weight: 500;
    color: #FFB800;
}
.card__price{
    column-gap: 10px;
    margin-top: 40px;
}
.price p{
    font-weight: normal;
    color: #000000;}

.card__confirm{
    column-gap: 30px;
}
.confirm__btn{
    background: #005BB9;
    border-radius: 6px;
    max-width: 160px;
    height: 49px;
    align-items: center;
    column-gap: 8px;
    padding: 15px 25px;
}
.confirm__shop{
    color: #FFFFFF;
    font-weight: normal;
}
.ring__card{
    position: relative;
}
.ring__discount{
    position: absolute;
    top: 0;
    left: 0;
}
.show__more__btn{
    background: #FFFFFF;
    border: 2px solid #005BB9;
    box-sizing: border-box;
    border-radius: 6px;
    width: 187px;
    height: 49px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #005BB9;
}
.show__more{
    margin-top: 40px;
}
.news{
    margin-top: 100px;
}
.news__header p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.gray__line{
    height: 9px;
    background: #F5F5F5;
    margin-top: 15px;
    position: relative;
}
.ball__item{
    box-sizing: border-box;
    height: 9px;
    width: 9px;
    background-color: black;
    border-radius: 50%;
}
.ball__item::before{
    content:"";
    height: 40px;
    width: 2px;
    position: absolute;
    background-color: black;
    margin-left: 3px;
}

.news__block{
    margin-top: 30px;
    column-gap: 60px;
    margin-left: 100px;
}
.third__november__news{
    width: 265px;
}
.news__date{
    width: 125px;
    height: 25px;
    background: #0C1A2A;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
}
.news__link{
    margin-top: 20px;
}
.news__description{
    margin-top: 20px;
}
.main__footer{
    background: #0C1A2A;
    margin-top: 120px;
}
.footer{
    flex-wrap: wrap;
}
.footer__list{
    margin-top: 35px;
}
.lh{
    line-height: 16px;
}

.fhd{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}
.fld{
    font-weight: 500;
    font-size: 14px;
    color: #FFFFFF;
}
.footer__list, .footer__list__second__row{
    column-gap: 60px;
}
.input-group button{
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    text-align: center;
    color: #FFFFFF;
}
.social__network{
    margin-top: 30px;
    column-gap: 50px;
}
.bottom__gray__line{
    height: 2px;
    background: #F5F5F5;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;

}
.all__rights__reserved p{
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    margin-top: 20px;
    padding-bottom: 20px;
}