@media screen and (max-width: 400px) {
    .header__top__right {
        display: none;
    }

    .main__choice__right {
        width: 100%;
        margin-top: 10px;
    }
.contact__us{
    margin-top: 28px;
}
.whatsup__contact{
    margin-top: 10px;
}
.search__block__for__media{
    column-gap: 20px;
    margin: 0 10px;
}
.button__for__media{
    background: #005BB9;
    border-radius: 4px;
    }
.button__for__media img{
    display: flex;
    align-items: center;
}
.input-group button{
    padding: 0 15px;
}
    .oil {
        margin-top: 20px;
    }

    .three__buttons {
        max-width: 50%;
    }

    .pistone__card, .ring__card {
        width: 49%;
        margin-top: 20px;
    }

    .ring__image img {
        margin-top: 6px;
    }

    .confirm__btn {
        padding: 6px;
    }

    .card__confirm__diagram {
        display: none;
    }

    .confirm__shop {
        font-size: 15px;
    }

    .gray__line {
        display: none;
    }

    .news__block {
        margin: 0;
    }

    .third__november__news {
        width: 100%;
    }

}