.header__top {
    left: 0;
    top: 0;
    background: #0F2438;
}

.logo__complete {
    column-gap: 10px;
}

.your__city, .nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

.header__top__right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    column-gap: 30px;
}

.nav__item a {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.header {
    left: 0;
    top: 36px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.mt {
    margin-top: 27px;
}
.cg{
    column-gap: 10px;
}

.header__logo {
    column-gap: 12px;
}

.header__name p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
    padding-top: 10px;
}

.watch{
    margin-top: 41px;
    column-gap: 10px;
}
.time{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #0F2438;
}
.header__logo img{
    max-height: 70px;
    max-width: 70px;

}
.prospect{
    margin-top: 45px;
    column-gap: 15px;
}
.prospect img, .watch img {
    max-width: 30px;
    max-height: 30px;
}
.whatsup__contact{
    width: 204px;
    height: 30px;
    left: 1206px;
    top: 82px;
    background: #E1EFD0;
    border-radius: 2px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 46px;
}
.whatsup__contact img{
    max-width: 30px;
    max-height: 30px;
}

.whatsup__contact a{
    text-decoration: none;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #000000;
}
.contact__us{
    margin-top: 41px;
    text-align: right;
}
.phone__number{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0F2438;
}
.feedback a{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #0F2438;
    text-align: right;
}
.form-control{
    width: 550px;
}
.item{
    width: 40px;
    height: 5px;
    background-color: black;
}
.btn-outline-success {
    background-color: blue;
}
.catalog__btn {
    width: 164px;
    height: 40px;
    left: 283px;
    top: 159px;
    background: #005BB9;
    border-radius: 6px;
}
.catalog__img__btn, .catalog__btn{
    border: none;
    background: #005BB9;
    border-radius: 6px;
    color: white;
}

.shopping__guide{
    column-gap: 40px;
}
.shopping__guide a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #0F2438;
}
.favorite::before,
.favorite::after{
    content: "";
    display: flex;
    width: 2px;
    height: 28px;
    background-color: #E1E5F8;
}
.main__choice{
    margin-top: 30px;
}
.main__choice__left{
    background: url("Image/Carousel_bg.png") no-repeat center/cover;
    border-radius: 30px;
}
.carousel-caption h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
    display: flex;
    justify-content: flex-start;
}
.und__line{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    display: flex;
    justify-content: flex-start;
}
.new__price{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}
.old__price{
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.carousel__btn {
    width: 164px;
    height: 40px;
    left: 283px;
    top: 159px;
    background: #005BB9;
    border-radius: 6px;
}
.carousel__img__btn, .carousel__btn{
    border: none;
    background: #005BB9;
    border-radius: 6px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.scepleniye__img img{
    position: relative;
    left: 450px;
    width: 100%;
    height: 100%;

}
.carousel-caption{
    top: 80px;
}
.main__choice__right{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.akcia__img img{
    padding: 0 10px;
}
.akcia__top, .akcia__bottom{
    background: #F4F5FA;
    border-radius: 10px;
    flex-grow: 1;
}
.mufta{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}
.mufta__type{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}
.akcia__top h4, .akcia__bottom h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
    padding: 10px;
}
.akcia__price{
    column-gap: 10px;
    padding: 20px;
}
.akcia__new__price{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}
.akcia__old__price{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.akcia__img__btn{
    border: none;
    background: #005BB9;
    border-radius: 6px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 60px;
}