.main__choice__left{
    background: url("Image/Carousel_bg.png") no-repeat center/cover;
    border-radius: 30px;
    /*position: relative;*/
}
.carousel-caption h2{
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
    display: flex;
    justify-content: flex-start;
}
.und__line{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
    display: flex;
    justify-content: flex-start;
}
.new__price{
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
}
.old__price{
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.carousel__btn {
    width: 164px;
    height: 40px;
    left: 283px;
    top: 159px;
    background: #005BB9;
    border-radius: 6px;
}
.carousel__img__btn, .carousel__btn{
    border: none;
    background: #005BB9;
    border-radius: 6px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}
.scepleniye__img img{
    position: relative;
    left: 450px;
    width: 100%;
    height: 100%;

}
.carousel-caption{
    top: 80px;
}
.main__choice__right{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 100%;
}
.akcia__img img{
    padding: 0 0 10px;
}
.sell__akcia {
    background: #F4F5FA;
    border-radius: 10px;
    flex-grow: 1;
}
.mufta{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}
.mufta__type{
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}
.akcia__top h4, .akcia__bottom h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}
.akcia__price{
    column-gap: 10px;
}
.akcia__new__price{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
}
.akcia__old__price{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}
.akcia__img__btn{
    border: none;
    background: #005BB9;
    border-radius: 6px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 60px;
}
.pd{
    padding: 10px;
}
.cg{
    column-gap: 10px;
}
.oil__filt__rad{
    margin-top: 50px;
}
.three__items{
    column-gap: 30px;
}
.oil{
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    flex-grow: 1;
    width: 30%;
    height: 200px;
}
.oil__filt__rad__desc{
    padding-left: 20px;
    padding-top: 30px;
}
.oil__filt__rad__desc h4{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0A1A2C;
}
.oil__filt__rad__desc p{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #0A1A2C;
}
.oil__pict img{
    display: flex;
    justify-content: flex-end;
}

.oil__btn{
    width: 86px;
    height: 26px;
    left: 313px;
    top: 850px;
    background: #005BB9;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}






@media screen and (max-width: 400px) {
{.main__choice__right{
        width: 100%;
        margin-top: 10px;
    }

}