.yyy {
    background: #f6e385;
    width: 1220px;
    box-sizing: border-box;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    font-size: 100px;
}
.a{
    flex-basis: 1190px;
    height: 300px;
    display: flex;
    background: cornflowerblue;
    justify-content: center;
    align-items: center;
}
.box {
    flex-basis: 400px;
    height: 500px;
    margin: 10px;
    display: flex;
    background: cornflowerblue;
    justify-content: center;
    align-items: center;
    }
.b {
    background: sienna;
    flex-grow: 10;

}
.c {
    background: fuchsia;
    flex-grow: 1;
}